@{
    ViewBag.Title = "添加类别信息";
}

<article class="page-container">
    <form class="form form-horizontal" id="formAdd">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>类别名称：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="" placeholder="" id="Name" name="Name">
            </div>
        </div>

        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>描述：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="Description" id="Description" cols="" rows="" class="textarea" placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="$.Huitextarealength(this,100)"></textarea>

            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" id="btnSave" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
@section FooterScript{

    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="~/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript">
$(function(){
    var saveAjax = function () {
        var formData = $("#formAdd").serializeArray();
        $.ajax({
            url: "/ExamType/Add",
            type: "post",
            data: formData,
            dataType: "json",
            success: function (res) {
                if (res.status == "ok") {
                    parent.location.reload();//刷新父窗口
                }
                else {
                    alert(res.errorMsg);
                }
            },
            error: function () { alert("请求出错"); }
        });
    };

    $("#formAdd").validate({
		rules:{
		    Name: {
				required:true,
				minlength:2,
				maxlength:50
		    },
		    Description: {
		        required: true,
		        minlength: 2,
		        maxlength: 255
		    }

		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
		    saveAjax();
		}
	});
});
    </script>
}